numpy 
pandas 
matplotlib 
seaborn 
scikit-learn 
scipy 
# sentence-transformers
# transformers

######## torch-geometric and its dependencies - Python 3.10 
# torch==2.3.0+cpu
# torch-geometric==2.6.1
# torch_sparse==0.6.18+pt23cpu
# torch_scatter==2.1.2+pt23cpu
# torch_cluster==1.6.3+pt23cpu
# torch_spline_conv==1.2.2+pt23cpu
